.card {
    width: calc(25% - 30px);
    height: auto;
    display: flex;
    flex-direction: column;
    transition: .2s;
    cursor: pointer;
    @media (max-width: 1023px) {
        width: calc(33.33% - 26.7px);
    }
    @media (max-width: 767px) {
        width: calc(50% - 20px);
    }
    @media (max-width: 539px) {
        width: calc(50% - 6px);
    }
    &__pic {
        border-radius: 8px;
        background: linear-gradient(180deg, #BDBDBD 0%, #FFF 100%);
        position: relative;
        margin-bottom: 6px;
        @media (max-width: 539px) {
            margin-bottom: 2px;
        }
    }

    &__status {
        padding: 1px 10px;
        position: absolute;
        right: 8px;
        top: 8px;
        color: #000;
        font-family: Inter;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: 176.5%; /* 17.65px */
        border-radius: 51.32px;
        background: rgba(255, 255, 255, 0.40);
        z-index: 1;
        @media (max-width: 539px) {
            font-size: 6px;
            right: 2px;
            top: 2px;
            padding: 3px 10px;
        }
    }

    &__text {
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    &__name {
        color: #000;
        font-family: Inter;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 176.5%; /* 42.36px */
        letter-spacing: 0.24px;
        flex: 1;
        @media (max-width: 539px) {
            font-size: 14px;
        }
    }

    &__info {
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 176.5%;
        color: #000;
        margin-bottom: 15px;
        flex: 1;
        @media (max-width: 539px) {
            font-size: 10px;
            margin-bottom: 6px;
        }
    }

    &__info-item {
        display: flex;
        gap: 3px;
        & span {
            color: rgba(0, 0, 0, 0.60);
            flex: 1;
            position: relative;
            display: flex;
            align-items: flex-end;
            &::after {
                content: "";
                background: url(../img/icons/point.png);
                background-repeat: no-repeat;
                background-repeat: repeat-x;
                flex: 1;
                height: 2px;
                padding-bottom: 8px;
            }
        }
        & b {
            color: #000;
        }
        &:not(:last-child) {
            margin-bottom: 2px;
            @media (max-width: 539px) {
                margin-bottom: 1px;
            }
        }
    }

    &__btn {
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 176.5%; /* 28.24px */
        letter-spacing: 0.16px;
        padding: 2px 15px;
        @media (max-width: 539px) {
            font-size: 10px;
            padding: 4px 10px;
        }
    }

    &__swiper {
        position: relative;
        border-radius: 8px;
    }

    &__swiper-wrapper {
    }

    &__slide {
        overflow: hidden;
        border-radius: 5px;
        position: relative;
        padding-bottom: 68%;
        @media (max-width: 539px) {
            padding-bottom: 62%;
        }
        & img {
            width: 100%;
            max-width: 100%;
            height: auto;
            bottom: 0;
            left: 0;
            right: 0;
            top: 0;
            object-fit: cover;
            object-position: center;
            position: absolute;
        }
    }
}



.cards {
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden;
  }
  
  .card{
    position: relative;
    transition-property: transform opacity;
    transition-duration: .4s;
  }
  
  .cards:before {
    content: attr(data-content);
    font-size: 22px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
  
  .cards.hide {
    transform: scale(0);
    opacity: 0;
    pointer-events: none;
  }

  my-sizer-element {
    width: calc(25% - 30px);
    height: auto;
    @media (max-width: 1023px) {
        width: calc(33.33% - 26.7px);
    }
    @media (max-width: 767px) {
        width: calc(50% - 20px);
    }
    @media (max-width: 539px) {
        width: calc(50% - 6px);
    }
}

.list-complete-item {
    transition: all 1s;
}
.list-complete-enter, .list-complete-leave-to
/* .list-complete-leave-active below version 2.1.8 */ {
opacity: 0;
transform: translateY(30px);
}
.list-complete-leave-active {
// position: absolute;
}