.salon {
    padding-bottom: 110px;
    @media (max-width: 1023px) {
        padding-bottom: 90px;
    }
    @media (max-width: 767px) {
        padding-bottom: 70px;
    }
    @media (max-width: 539px) {
        padding-bottom: 33px;
    }
    @media (max-width: 767px) {
        padding-left: 15px;
        padding-right: 15px;
    }
    &__swiper {
    }

    &__swiper-wrapper {
    }

    &__slide {
        overflow: hidden;
        border-radius: 5px;
        position: relative;
        padding-bottom: 31%;
        @media (max-width: 1023px) {
            padding-bottom: 35%;
        }
        @media (max-width: 899px) {
            padding-bottom: 41%;
        }
        @media (max-width: 767px) {
            padding-bottom: 60%;
        }
        &.swiper-slide-active {
            & img {
                opacity: 1;
            }
        }
        & img {
            width: 100%;
            max-width: 100%;
            height: 100%;
            bottom: 0;
            left: 0;
            right: 0;
            top: 0;
            object-fit: cover;
            object-position: center;
            position: absolute;
            transition: .2s;
            opacity: 0.5;
        }
    }

    &__swiper-nav-btn {
        width: 70px;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 70px;
        background: rgba(255, 255, 255, 0.50);
        cursor: pointer;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        z-index: 1;
        transition: .2s;
        &:hover {
        background: rgba(255, 255, 255, 1);
            & svg {
                & path {
                    fill: #000;
                }
            }
        }
        @media (max-width: 767px) {
            width: 27px;
            height: 27px;
        }
        & svg {
            @media (max-width: 767px) {
                width: 6px;
                height: 12px;
            }
        }
    }

    &__swiper-next {
        right: 25.3%;
        @media (max-width: 899px) {
            right: 14.3%;
        }
        @media (max-width: 767px) {
            right: 2.3%;
        }
        & svg {
            & path {
                transition: .2s;
            }
            transform: rotate(180deg);
        }
    }

    &__swiper-prev {
        left: 25.3%;
        @media (max-width: 899px) {
            left: 14.3%;
        }
        @media (max-width: 767px) {
            left: 2.3%;
        }
    }
}
