.stock {

    &__list {
        display: flex;
        gap: 20px;
    }

    &__item {
        overflow: hidden;
        border-radius: 5px;
        position: relative;
        padding-bottom: 30%;
        flex: 0 0 calc(50% - 10px);
        &._black {
            & .stock__text {
                & p {
                    color: #000;
                }
            }
        }
    }

    &__item-pic {
        width: 100%;
        max-width: 100%;
        height: auto;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
        object-fit: cover;
        object-position: center;
        position: absolute;
    }

    &__text {
        position: absolute;
        display: flex;
        justify-content: space-between;
        gap: 20px;
        width: calc(100% - 20px);
        left: 10px;
        bottom: 17px;
        z-index: 1;
        align-items: center;
        & p {
            color: #FFF;
            font-family: Inter;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 113.8%; /* 22.76px */
        }
    }

    &__text-btn {
        & ._pc {
            padding: 4px 19px;
            font-size: 16px;
        }
        & ._mobile {
            display: none;
        }
    }
}
