.footer-w {
    background: #000000;
}
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 36px;
    padding-bottom: 36px;
    @media (max-width: 899px) {
        flex-wrap: wrap;
        gap: 20px;
    }
    @media (max-width: 539px) {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    &__lead {
        @media (max-width: 899px) {
            flex: 1 0 63%;
        }
        @media (max-width: 539px) {
            flex: 1 0 39%;
        }
        & img {
            margin-bottom: 12px;
            @media (max-width: 539px) {
                width: 75px;
                margin-bottom: 9px;
            }
        }
        & p {
            color: #FFF;
            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 1.4px;
            text-transform: uppercase;
            @media (max-width: 899px) {
                color: rgba(255, 255, 255, 0.70);
            }
            @media (max-width: 539px) {
                color: rgba(255, 255, 255, 0.70);
                font-size: 10px;
                font-weight: 400;
                letter-spacing: 1px;
            }
        }
    }

    &__links {
            color: #FFF;
            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 222.8%; /* 31.192px */
            letter-spacing: 1.4px;
            text-transform: uppercase;
            align-items: center;
            padding-top: 7px;
            @media (max-width: 899px) {
                padding-top: 0px;
                order: 1;
            }
            font-size: 12px;
            font-weight: 400;
            line-height: 127.8%; /* 18.936px */
            letter-spacing: 1.2px;
            & a {
                color: #FFF;
                @media (max-width: 539px) {
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 127.8%; /* 18.936px */
                    letter-spacing: 1.2px;
                }
            }
    }

    &__social {
        display: flex;
        gap: 30px;
        @media (max-width: 899px) {
            order: 2;
        }
        @media (max-width: 539px) {
            gap: 12px;
        }
    }

    &__social-item {
        display: flex;
        justify-content: center;
        align-items: center;
        & img {
            @media (max-width: 539px) {
                width: 20px;
            }
        }
    }

    &__btn {
        padding: 11px 22px;
        color: #FFF;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 151.3%; /* 24.208px */
        @media (max-width: 539px) {
            font-size: 10px;
            padding: 7px 18px;
        }
    }
}
