<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="files/fonts/stylesheet.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=PT+Serif&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"/>
	<link rel="stylesheet" type="text/css" href="css/style.min.css">
	<link rel="shortcut icon" href="./img/icons/logo.svg" type="image/png">
	<title>PREMIUM LIFE MOTORS</title>
</head>
<body class="">	
	<div class="wrapper">
		@@include("./header.html", {
			"item1": "<header class=\"header-w\">",
		})
		<main>
			<section class="cars container">
				<div class="cars__header">
					<div class="cars__header-text">
						<div class="cars__header-title title">
							АВТОМОБИЛИ
						</div>
						<div class="cars__header-filter">
							<button class="cars__header-filter-item btn btn_all-black" status="all">
								Все автомобили
							</button>
							<button class="cars__header-filter-item btn btn_black" status="В наличии">
								В наличии
							</button>
							<button class="cars__header-filter-item btn btn_black" status="В пути">
								В пути
							</button>
						</div>
					</div>
					<div class="cars__header-brand">
						<div class="cars__brand-list">
							<div class="cars__brand-item" brand="bmw">
								<img src="./img/icons/brand-3.svg" alt="brand">
							</div>
							<div class="cars__brand-item" brand="hyundai">
								<img src="./img/icons/brand-4.svg" alt="brand">
							</div>
							<div class="cars__brand-item" brand="cadillac">
								<img src="./img/icons/brand-6.svg" alt="brand">
							</div>
							<div class="cars__brand-item" brand="land-rover">
								<img src="./img/icons/brand-8.svg" alt="brand">
							</div>
							<div class="cars__brand-item" brand="lexux">
								<img src="./img/icons/brand-9.svg" alt="brand">
							</div>
							<div class="cars__brand-item" brand="geely">
								<img src="./img/pic/Geely-Logo.png" alt="brand">
							</div>
							<div class="cars__brand-item" brand="hongqi">
								<img src="./img/pic/Hongqi- лого.png" alt="brand">
							</div>
							<div class="cars__brand-item" brand="toyota">
								<img src="./img/pic/toyota лого.png" alt="brand">
							</div>
							<div class="cars__brand-item" brand="voyah">
								<img src="./img/pic/voyah лого.png" alt="brand">
							</div>
							<div class="cars__brand-item" brand="zeekr">
								<img src="./img/pic/zeekr лого.png" alt="brand">
							</div>
						</div>
					</div>
				</div>
				<div class="nothing">
					Машины не найдены
				</div>
				<transition-group class="cars__list" id="cars__list" name="list-complete" tag="div" v-if="carsFiltred" style="display: none;">
					<div class="card list-complete-item" :brand="car.brand" :status="car.status" v-for="(car, index) in carsFiltred" :key="car">
						<div class="card__pic">
							<div class="card__swiper swiper">
								<div class="card__swiper-wrapper swiper-wrapper">
									<div class="card__slide swiper-slide" v-for="(image, index) in car.images" :key="index">
										<img :src="image" alt="машина">
									</div>
								</div>
							</div>
							<span class="card__status">
								{{ car.status }}
							</span>
						</div>
						<div class="card__text">
							<p class="card__name">
								{{ car.name }}
							</p>
							<div class="card__info">
								<div class="card__info-item">
									<span>
										Год
									</span>
									<b>
										{{ car.year }}
									</b>
								</div>
								<div class="card__info-item">
									<span>
										Пробег, км
									</span>
									<b>
										{{ car.mileage }}
									</b>
								</div>
								<div class="card__info-item">
									<span>
										Двигатель
									</span>
									<b>
										{{ car.fuel }}
									</b>
								</div>
								<div class="card__info-item">
									<span>
										Мощность
									</span>
									<b>
										{{ car.engine }}
									</b>
								</div>
							</div>
							<button class="card__btn btn btn_black">
								{{ car.price }}
							</button>
						</div>
					</div>
				</transition-group>
			</section>
		</main>
		@@include("./footer.html", {})
		@@include("./popup.html", {})
	</div>
	
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
	<script src="js/jquery.js"></script>
	<script src="js/bodyScrollLock.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
	<script src="js/app.js"></script>

</body>
</html>

